.footer {
  width: 100%;
  background-color: rgb(47, 44, 44);
  margin-top: 50px;
  color: white;
}
.container {
  margin: auto;
  padding: 20px;
}
.categories-list {
  list-style: none;
  margin: 0 20px;
}
.f-credits {
  margin: 20px;
}
li a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.f-contact-item {
  align-content: center;
  justify-content: center;
}
