<nav class="navbar navbar-expand-md fixed-top navbar-dark light mb-4">
    <div class="container">
      <a class="navbar-brand" routerLink="/"><fa-icon style="color:green ;" [icon]="seedling"></fa-icon> EveryThing Online</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart"><fa-icon style="font-size:20px ;" [icon]="faCartShopping"></fa-icon>
              <span class="badge rounded-pill bg-warning text-dark" *ngIf="cart$|async as cart">{{cart.totalItemCount}}</span>
            </a>
          </li>
        </ul>
          <ng-template #annonymousUser>
            <button type="button" class="btn secondary-color btn-outline-primary" id="login">
            <a class="nav-link" routerLink="/login">Login</a>
            </button>
        </ng-template>
        <div *ngIf="appUser|async as appUser;else annonymousUser" ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary secondary-color" id="dropdownBasic1" ngbDropdownToggle>{{appUser.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/my/orders">My order</button>
            <ng-container *ngIf="appUser.isAdmin">
              <button ngbDropdownItem routerLink="/admin/orders">Manage Orders</button>
              <button ngbDropdownItem routerLink="/admin/products">Manage Products</button>
            </ng-container>
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
