.thumbnail{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-size: cover;
}
.card-header{
    display: flex;
    /* justify-content: center; */
    align-content: center;
}
.seperator{
    flex: auto;
}