<div class="row g-0 product-container">
  <div class="col-2">
    <button class="btn btn-danger btn-block w-100" (click)="removeFromCart()">
      <fa-icon
        *ngIf="shoppingCart.getQuantity(product) == 1; else removeMultipleItem"
        [icon]="faTrash"
      ></fa-icon>
      <ng-template #removeMultipleItem>
        <span>-</span>
      </ng-template>
    </button>
  </div>
  <span class="col text-center-justify">
    {{ shoppingCart.getQuantity(product) + " in Cart" }}
  </span>
  <div class="col-2">
    <button class="btn btn-block w-100 secondary-color" (click)="addToCart()">
      +
    </button>
  </div>
</div>
